{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/css/article.css"/>
{% endblock %}

{% block content %}
<div class="content">
	<div class="tabs">
		<ul id="tabmenu">
			<li class="act">
				<a href="#tab1">1</a>
			</li>
			<li>
				<a href="#tab2">2</a>
			</li>
		</ul>
		<a href="/compositions/create" class="btn">create</a>
		<div class="clear"></div>
		<div id="tabcontent">
			<ul>
				{% for content in contents %}
				<li>
					<a href="show/{{ forloop.counter }}">{{ content }}</a>
				</li>
				{% endfor %}
			</ul>
			<ul>
				<li>
					<a href="">none here</a>
				</li>
			</ul>
		</div>
	</div>
	</div>
{% endblock %}

{% block script %}
<script src="/static/js/tab.js"></script>
{% endblock %}