.abstract {
	box-shadow: 1px 1px 3px #888888;
	background: white;
}

p {
	text-indent: 2em;
}

.icon-comments {
	width: 16px;
	height: 16px;
	display: block;
	background-image: url('../img/comments.png');
}

.icon-backtop {
	width: 48px;
	height: 48px;
	diplay: block;
	display: fixed;
	bottom: 20px;
	right: 20px;
	backgroun-image: url('../img/backtop.png');
}