.abstract {
	box-shadow: 1px 1px 3px #888888;
	background: white;
}

p {
	text-indent: 2em;
}

.icon-comments {
	width: 16px;
	height: 16px;
	display: block;
	background-image: url('../img/comments.png');
}