.abstract {
	box-shadow: 1px 1px 3px #888888;
	background: white;
}

p {
	text-indent: 2em;
}

.icon-comments {
	width: 16px;
	height: 16px;
	display: block;
	background-image: url('../img/comments.png');
}

.icon-comments-add {
	width: 16px;
	height: 16px;
	display: block;
	background-image: url('../img/comments-add.png');
}

.icon-backtop {
	position: fixed;
	width: 48px;
	height: 48px;
	diplay: block;
	right: 20px;
	bottom: 20px;
	background: url(../img/backtop.png) 0 0 no-repeat;
}