<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>{{ title }}</title>
		
		<!-- CSS -->
		<link rel="stylesheet" href="{% static 'accounts/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'accounts/css/xinting.css' %}" />
		{% block css %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
				
		<!-- Scripts -->
		<script src="{% static 'accounts/js/jquery-1.9.1.js' %}"></script>
		<script src="{% static 'accounts/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'accounts/js/xinting.js' %}"></script>
		{% block js %}{% endblock %}
	</body>
</html>