{% extends 'accounts/base.html' %}

{% block css %}{% endblock %}

{% block body %}
<div class="row-fluid">
<div class="span5 offset3" style="margin-top: 150px;">
	<div class="navbar">
		<a class="brand" href="/">eDu</a>
	</div>
	<form class="form-horizontal" method="post">{% csrf_token %}
		<div class="control-group">
			<div class="controls">
				<div class="label label-important" id="error">{{ error.msg }}</div>
				<span><a href="{{ error.href }}">{{ error.more }}</a></span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputEmail">账号</label>
			<div class="controls">
				<input type="email" id="inputEmail" data-request="true" placeholder="邮箱名" name="email" value="{{ email }}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">密码</label>
			<div class="controls">
				<input type="password" id="inputPassword" data-request="true" placeholder="密码" name="password">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" name="remember"> 两周免登录 |
					<a href="accounts/password?reason=forget">忘记密码</a>
				</label>
				<div class="btn-group">
					<button type="submit" class="btn">登录</button>
					<a class="btn btn-link" href="/accounts/register">没有帐号，注册一个？</a>
				</div>
			</div>
		</div>
	</form>
</div>
</div>
{% endblock %}

{% block js %}{% endblock %}