#calligraphy-grids {
	width: 100%;
	heihgt: 100%;
}

.grid-row {
	width: 100%;
	height: auto;
	padding: 0;
	font-size: 0px;
	text-align: left;
}

.grid-row li {
	display: inline-block;
	margin: 0;
	width: 280px;
	height: 280px;
	margin: 0 10px 5px;
}

.grid-row li > img {
	width: 280px;
}

.btn {
	margin-left: 0px;
	margin-bottom: 5px;
}