.tool-form {
	width: 940px;
	height: 150px;
	margin: 10px auto;
	font-size: 16px;
	text-align: left;
	border: 1px rgb(226, 226, 226) solid;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #888888;
}

.form-head {
	margin: 10px;
	color: rgb(126, 126, 126);
}

.form-content {
	margin: 10px;
}

.file {
	width: 100%;
	padding: 0;
}

.option {
	margin: 10px 0 0 0;
}

.form-footer {
	width: 100%;
	text-align: right;
}

.filename {
	display: inline-block;
	width: 79%;
	margin: 0;
}

.btnfile {
	display: inline-block; 
	width: 19%;
	line-height: 25px;
	position:relative; 
	top: 7px;
	text-align: center;
	color: rgb(159, 159, 159);
	border-radius: 5px;
	background: rgb(231, 231, 231);
	overflow:hidden;
}

.btnfile:hover {
	color: rgb(50, 50, 50);
	background-color: #99ccff;
	cursor: pointer;
}

.btnfile > input{
	position:absolute; 
	right:0; 
	top:0; 
	font-size:100px; 
	opacity: 0;
}

.btnsubmit {
	margin-right: 15px;
}

.download {
	display: none;
	width: 120px;
	height: 30px;
	margin: 0;
	padding: 0;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	color: rgb(226, 226, 226);
	border: 1px rgb(226, 226, 226) solid;
	background: rgb(251, 251, 251);
	border-radius: 8px;
}

.download:hover {
	color: blue;
}