<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="/static/css/base.css"/>
		<link rel="stylesheet" href="/static/css/dialog.css"/>
		<link rel="shortcut icon" href="/static/img/favicon.ico">
		{% block stylesheet %}{% endblock %}
	</head>
	<body>
		{% if user.is_authenticated %}
			{% include 'configdialog.html' %}
			{% include 'msgdialog.html' %}
		{% else %}
			{% include 'logindialog.html' %}
		{% endif %}
		<div class="header">
			<div class="header-container">
				<div class="logo">
					<img src="/static/img/logo3.png">
				</div>
				<div class="nav">
					<div class="iconnav">
						<ul class="iconmenu">
							{% if user.is_authenticated %}
								<li>
									<a href="javascript:;" id="icon-msg"></a>
								</li>
								<li>
									<a href="javascript:;" id="icon-config"></a>
								</li>
								<li>
									<p style="display: block; padding: 0; margin: 0; font-size: 14px;">{{ user.username }}</p>
								</li>
							{% else %}
								<li>
									<a href="javascript:;" id="icon-user"></a>
								</li>
							{% endif %}
						</ul>
					</div>
					<div class="linknav">
						<ul class="linkmenu">
							{% for branch in branches %}
								{% ifequal forloop.counter currentpage %}
									<li class="act">
								{% else %}
									<li>
								{% endifequal %}
										<a href="/{{ branch.responsehtml }}">{{ branch.name }}</a>
									</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="main">
			<div class="summary">
				{{ summary }}
			</div>
			{% block content %}{% endblock %}
		</div>
		<div class="clear"></div>
		<div class="footer">
			<div class="footer-container">
				<div class="music">
					<a id="icon-pp" href=""></a>
				</div>
				<div class="info">
					0 / 0
				</div>
			</div>
		</div>
		
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/base.js"></script>
		{% block script %}{% endblock %}
	</body>
</html>