<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="/static/css/base.css"/>
		<link rel="shortcut icon" href="/static/img/favicon.ico">
		{% block stylesheet %}{% endblock %}
	</head>
	<body>
		<div class="header">
			<div class="header-container">
				<div class="logo">
					<img src="/static/img/logo.png">
				</div>
				<div class="nav">
					<div class="iconnav">
						<ul class="iconmenu">
							<li>
								<a href="" id="icon-msg"></a>
							</li>
							<li>
								<a href="" id="icon-user"></a>
							</li><!---->
						</ul>
					</div>
					<div class="linknav">
						<ul class="linkmenu">
							{% for branch in branches %}
								{% ifequal forloop.counter currentpage %}
									<li class="act">
								{% else %}
									<li>
								{% endifequal %}
										<a href="/{{ branch.responsehtml }}">{{ branch.name }}</a>
									</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="main">
			<div class="summary">
				{{ summary }}
			</div>
			{% block content %}{% endblock %}
		</div>
		<div class="clear"></div>
		<div class="footer">
			<div class="footer-container">
				<div class="music">
					<a id="icon-pp" href=""></a>
				</div>
				<div class="info">
					0 / 0
				</div>
			</div>
		</div>
		
		{% block script %}{% endblock %}
	</body>
</html>