<div id="fade">
</div>
<form id="dialog" action="/message/" method="POST">
	<div class="modalhead">
		<h3>
			<a id="icon-close"></a>
		</h3>
	</div>
	<div class="modalcontent">
		<p> 
			<div class="modallabel">
				subject:
			</div>
			<input type="text" name="subject"/>
		</p>
		<p>
			<div class="modallabel">
				your words:
			</div>
			<textarea rows="20" name="message"></textarea>
		</p>
	</div>
	<div class="modalfooter">
		<input type="submit" id="btnsubmit" value="Go"></input>
	</div>
</form>