<!DOCTYPE html>
{% load staticfiles %}
<html lagn="cn">
	<head>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="content-type" content="text/html" />
		<meta http-equiv="charset" content="utf-8" />
		<title>{{ title }}</title>
		
		<!-- CSS -->
		<link rel="shortcut icon" href="{% static 'readers/img/favicon.ico' %}" />
		<link rel="stylesheet" href="{% static 'readers/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'readers/css/pick-a-color-1.1.6.min.css' %}" />
		<link rel="stylesheet" href="{% static 'readers/css/xinting.css' %}" />
		{% block css %}{% endblock %}
	</head>
	<body>
		<div class="navbar">
			<div>
				<a class="brand" href="/" data-toggle="tooltip" data-placement="bottom" title="回主页">eDu</a>
				{% if request.user.is_authenticated %}
				<ul class="nav pull-right">
					<li><a href="/books/share"><i class="icon-share"></i></a></li>
					<li><a href="javascript:{showConfig();}"><i class="icon-cog"></i></a></li>
					<li><a href="/accounts/logout" data-toggle="tooltip" data-placement="bottom" title="退出">{{ request.user.nickname }}</a></li>
				</ul>
				{% else %}
				<ul class="nav pull-right">
					<li><a href="/accounts/login?next={{ request.path }}" data-toggle="tooltip" data-placement="bottom" title="登录">登录</a></li>
				</ul>
				{% endif %}
			</div>
		</div>
		{% block body %}{% endblock %}
				
		<!-- Scripts -->
		<script src="{% static 'readers/js/jquery-1.9.1.js' %}"></script>
		<script src="{% static 'readers/js/jquery.form.js' %}"></script>
		<script src="{% static 'readers/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'readers/js/pick-a-color-1.1.6.min.js' %}"></script>
		<script src="{% static 'readers/js/tinycolor-0.9.14.min.js' %}"></script>
		<script src="{% static 'readers/js/xinting.js' %}"></script>
		<script src="{% static 'readers/js/config.js' %}"></script>
		{% block js %}{% endblock %}
	</body>
</html>