{% extends 'readers/base.html' %}

{% load staticfiles %}

{% block css %}
<style>
form { margin-top: 150px; }
input {border: none;}
</style>
{% endblock %}

{% block body %}
<!-- 设置样式 -->
<div class="row-fluid" id="config-container">
<div class="span5">
	<form class="form-horizontal" method="post">
		<div class="control-group">
			<div class="controls controls-row">
				<label class="radio inline">
					<input id="inputBackground" type="radio" name="color" value="{{ reader.background }}" checked="checked">背景
				</label>
				<label class="radio inline">
					<input id="inputFontColor" type="radio" name="color" value="{{ reader.fontColor }}">字色
				</label>
				<div id="color-pick" style="width: 300px;"></div>
				<input type="hidden"  name="background" value="{{ reader.background }}">
				<input type="hidden"  name="fontColor" value="{{ reader.fontColor }}">
			</div>
		</div>
				
		<div class="control-group">
			<label class="control-label" for="selectFontFamily">字体</label>
			<div class="controls">
				<select name="fontFamily" id="selectFontFamily" value="{{ reader.fontFamily }}">
					<option checked="checked">微软雅黑</option>
					<option>宋体</option>
					<option>黑体</option>
					<option>仿宋</option>
					<option>楷体</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputFontSize">字号</label>
			<div class="controls">
				<div class="input-append">
					<input type="text" placeholder="15" id="inputFontSize" name="fontSize" value="{{ reader.fontSize }}">
					<span class="add-on">px</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputLetterSpace">字间距</label>
			<div class="controls controls-row">
				<div class="input-append">
					<input type="text" placeholder="1" id="inputLetterSpace" name="letterSpace" value="{{ reader.letterSpace }}">
					<span class="add-on">px</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputLineHeight">行高</label>
			<div class="controls controls-row">
				<div class="input-append">
					<input type="text" placeholder="25" id="inputLineHeight" name="lineHeight" value="{{ reader.lineHeight }}">
					<span class="add-on">px</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputParaPad">段内距</label>
			<div class="controls controls-row">
				<div class="input-append">
					<input type="text" placeholder="20" id="inputParaPad" name="paraPadding" value="{{ reader.paraPadding }}">
					<span class="add-on">px</span>
				</div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" id="checkHLBg" name="hlBackground" value="{{ reader.hlBackground }}">高亮背景
				</label>
				<div class="btn-group">
					<button type="submit" class="btn btn-primary" >确定</button>
					<button type="button" class="btn btn-info" id="goDefault">默认</button>
					<a type="button" class="btn" href="/">取消</a>
				</div>
			</div>
		</div>
		<input type="hidden" value="false" id="noError" />
	</form>
</div>
<div id="testbody" class="span6" style="margin-top: 150px; color: #{{ reader.fontColor }}; background-color: #{{ reader.background }};">
	<div class="article">
		<p>测试1</p>
		<p>测试2</p>
	</div>
</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'readers/js/jquery-ui-color-picker.js' %}"></script>
<script src="{% static 'readers/js/jquery.mousewheel.js' %}"></script>
<script src="{% static 'readers/js/config.js' %}"></script>
{% endblock %}