{% extends 'books/base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'books/css/highlight.css' %}" />
{% endblock %}

{% block body %}
<div class="container">
	<div id="article" class="article hl-container" data-highlight="{{ request.user.reader.hlBackground }}">
		<div class="hl-ground">
			<h3>{{ chapter.book.name }}</h3>
			<h5>{{ chapter.subject }}</h5>
			
			<div class="pagination pull-right">
				<ul>
					<li data-prev="true"><a href="{% url 'books.views.BookChapterPrev' chapter.id %}">&laquo;</a></li>
					<li><a href="{% url 'books.views.Chapters' chapter.book.id %}">章目录</a></li>
					<li data-next="true"><a href="{% url 'books.views.BookChapterNext' chapter.id %}">&raquo;</a></li>
				</ul>
			</div>
			
			{% for line in lines %}
			<p>{{ line }}</p>
			{% endfor %}
			
			<div class="pagination pull-right">
				<ul>
					<li data-prev="true"><a href="{% url 'books.views.BookChapterPrev' chapter.id %}">&laquo;</a></li>
					<li><a href="{% url 'books.views.Chapters' chapter.book.id %}">章目录</a></li>
					<li data-next="true"><a href="{% url 'books.views.BookChapterNext' chapter.id %}">&raquo;</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="bk" class="icon-arrow-up icon-backtop a" data-toggle="tooltip" title="回到顶部"></div><!-- 
	<div id="bm" class="icon-hand-down icon-para-create a" data-toggle="tooltip" title="指向最后一段以新建章"></div>
	<div id="cbm" class="icon-hand-up icon-para-del a" data-toggle="tooltip" title="指向最前一段以取消章"></div> -->
</div>
{% if tip %}
<div id="tip">{{ tip }}</div>
{% endif %}
{% endblock %}

{% block js %}
<script src="{% static 'books/js/highlight.min.js' %}"></script>
<script src="{% static 'books/js/backtop.min.js' %}"></script>
<script src="{% static 'books/js/dragdrop.min.js' %}"></script>
<script src="{% static 'books/js/auto-hide-tip.min.js' %}"></script>
<script>
$(function(){
	//csrf django functions
	function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	
	//ajax safe post
	$.ajaxSetup({
	    crossDomain: false, // obviates need for sameOrigin test
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type)) {
	            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
	        }
	    }
	});
	
	new highLight('article');
	new backTop('bk');
	new autoHideTip('tip').show(2000);
})
</script>
{% endblock %}