<!DOCTYPE html>
{% load staticfiles %}
<html lang="cn">
	<head>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="content-type" content="text/html" />
		<meta http-equiv="charset" content="utf-8" />
		<title>{{ title }}</title>
		
		<!-- CSS -->
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/xinting.css' %}" />
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		{% block css %}{% endblock %}
		<style>
		{% if request.user.reader %}
		body { 
			color: #{{ request.user.reader.fontColor }};
			background-color: #{{ request.user.reader.background }};
			font-family: {{ request.user.reader.fontFamily }};
		}
		
		.article p {
			font-size: {{ request.user.reader.fontSize }}px;
			line-height: {{ request.user.reader.lineHeight }}px;
			letter-spacing: {{ request.user.reader.letterSpace }}px;
			padding: {{ request.user.reader.paraPadding }}px, 8px;
					
		}
		{% endif %}

		</style>
	</head>
	<body style="padding-top: 50px;">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner" style="padding: 0 50px;">
				<a class="brand" href="/" data-toggle="tooltip" data-placement="bottom" title="回主页">eDu</a>
				{% if request.user.is_authenticated %}
				<ul class="nav pull-right">
					{% if request.user.reader.chapter %}
					<li><a href="{% url 'books.views.BookChapter' request.user.reader.chapter.id %}" data-toggle="tooltip" data-placement="bottom" title="书签"><i class="icon-bookmark"></i></a></li>
					{% endif %}
					<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle" title="设置" role="button">
							{{ request.user.nickname }}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a title="个人" href="/readers/config">
									个人设置
								</a>
							</li>
							<li>
								<a href="/accounts/logout">
									注销
								</a>
							</li>
						</ul>
					</li>
				</ul>
				{% else %}
				<ul class="nav pull-right">
					<li><a href="/accounts/register?next={{ request.path }}" data-toggle="tooltip" data-placement="bottom" title="注册">注册</a></li>
					<li><a href="/accounts/login?next={{ request.path }}" data-toggle="tooltip" data-placement="bottom" title="登录">登录</a></li>
				</ul>
				{% endif %}
			</div>
		</div>
		{% block body %}{% endblock %}
				
		<!-- Scripts -->
		<script src="{% static 'js/jquery-1.9.1.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'books/js/jquery.cookie.js' %}"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script>
		$(function(){
			$.ajaxSetup({
			    crossDomain: false, // obviates need for sameOrigin test
			    beforeSend: function(xhr, settings) {
			        if (!csrfSafeMethod(settings.type)) {
			            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
			        }
			    }
			});
			
			//csrf django functions
			function csrfSafeMethod(method) {
			    // these HTTP methods do not require CSRF protection
			    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
		});
		</script>
		{% block js %}{% endblock %}
	</body>
</html>