<!DOCTYPE html>
{% load staticfiles %}
<html lang="cn">
	<head>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="content-type" content="text/html" />
		<meta http-equiv="charset" content="utf-8" />
		<title>{{ title }}</title>
		
		<!-- CSS -->
		<link rel="shortcut icon" href="{% static 'books/img/favicon.ico' %}" />
		<link rel="stylesheet" href="{% static 'books/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'books/css/xinting.css' %}" />
		{% block css %}{% endblock %}
		<style>
		{% if reader %}
		body { 
			color: rgb({{ reader.fontColor }});
			background-color: rgb({{ reader.background }});
			font-family: {{ reader.fontFamily }};
		}
		
		.article p {
			font-size: {{ reader.fontSize }}px;
			line-height: {{ reader.lineHeight }}px;
			letter-spacing: {{ reader.letterSpace }}px;
			padding: {{ reader.paraPadding }}px, 8px;
					
		}
		{% endif %}
		</style>
	</head>
	<body>
	<div class="navbar">
		<div>
			<a class="brand" href="/" data-toggle="tooltip" data-placement="bottom" title="回主页">eDu</a>
			{% if request.user.is_authenticated %}
			<ul class="nav pull-right">
				<li><a href="/books/share"><i class="icon-share"></i></a></li>
				<li><a href="/readers/config"><i class="icon-cog"></i></a></li>
				<li><a href="/accounts/logout" data-toggle="tooltip" data-placement="bottom" title="退出">{{ request.user.nickname }}</a></li>
			</ul>
			{% else %}
			<ul class="nav pull-right">
				<li><a href="/accounts/register?next={{ request.path }}" data-toggle="tooltip" data-placement="bottom" title="注册">注册</a></li>
				<li><a href="/accounts/login?next={{ request.path }}" data-toggle="tooltip" data-placement="bottom" title="登录">登录</a></li>
			</ul>
			{% endif %}
		</div>
	</div>
		{% block body %}{% endblock %}
				
		<!-- Scripts -->
		<script src="{% static 'books/js/jquery-1.9.1.js' %}"></script>
		<script src="{% static 'books/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'books/js/jquery.cookie.js' %}"></script>
		<script src="{% static 'books/js/xinting.js' %}"></script>
		{% block js %}{% endblock %}
	</body>
</html>