{% extends 'books/base.html' %}

{% load staticfiles %}

{% block css %}{% endblock %}

{% block body %}
<div class="container">
	<ul class="article-list">
		{% for book in books %}
		<li>
			<div class="article">
				<h3>
					{{ book.name }}
					<br>
					<small class="pull-right">&minus;{{ book.author }}</small>	
				</h3>
				<p>{{ book.desc }}</p>
				<a href="{% url 'books.views.Chapters' book.id %}" class="pull-right">更多</a>
			</div>
		</li>
		{% endfor %}
	</ul>
	
	{% if counts %}
	<div class="pagination pull-right">
		<ul>
			<li data-prev="true"><a href="{% url 'books.views.Books' %}?index={{ index|add:'-1' }}">&laquo;</a></li>
			{% for count in counts %}
			<li {% ifequal count index %}class="active"{% endifequal %}><a href="{% url 'books.views.Books' %}?index={{ count }}">{{ count }}</a></li>
			{% endfor %}
			<li data-next="true"><a href="{% url 'books.views.Books' %}?index={{ index|add:'1' }}">&raquo;</a></li>
		</ul>
	</div>
	{% endif %}
	<div class="icon-arrow-up icon-backtop a" data-toggle="tooltip" title="回到顶部"></div><!-- 
	<div class="icon-arrow-left icon-prev a"  data-toggle="tooltip" title="上一篇" data-prev="true"></div>
	<div class="icon-arrow-right icon-next a" data-toggle="tooltip" title="下一篇" data-next="true"></div>-->
</div>
{% endblock %}

{% block js %}
<script src="{% static 'books/js/jquery.form.js' %}"></script>
{% endblock %}