{% extends 'books/base.html' %}

{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'books/yellow-text-master/stylesheets/jquery.texteditor.css' %}" />
<style>
#review-content {
	width: 100%;
	height: 600px;
}
a {
	color: black;
}

a:hover {
	text-decoration: none;
}
</style>
{% endblock %}

{% block body %}
<div class="container">{%csrf_token%}
	<div>
		<label>标题</label>
		<input type="text" id="subject" />
	</div>
	<div id="review-content"></div>
	<a href="{% url 'books.views.Reviews' bookId %}" class="btn pull-right">返回</a>
	<div id="save" class="btn btn-primary pull-right">保存</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'books/yellow-text-master/javascripts/jquery.texteditor.js' %}"></script>
<script>
$(function() {
	var editor = $('#review-content').texteditor({
		height: '600px'
	});
	
	setInterval(function() {
		$.cookie('review', {
			"subject": $('#subject').val().toString(),
			"content": editor.texteditor('content')
		});
	}, 5*60*1000);
	
	$('#save').click(function(){save();});
	
	function save() {
		$.ajax({
			type: "POST",
			url: location.pathname,
			dataType: 'json',
			data: {
				"subject": $('#subject').val().toString(),
				"content": editor.texteditor('content').toString()
			},
			success: function(data) {
				alert(data.msg);
			},
			error: function(e, msg) {}
		});
	}
});
</script>
{% endblock %}