{% extends 'books/base.html' %}

{% load staticfiles %}

{% block css %}
<style>
form { margin-top: 150px; }
</style>
{% endblock %}

{% block body %}
<div class="row-fluid">
<div class="offset3">
	<form method="POST" class="form-horizontal" enctype="multipart/form-data" id="uploadBook">
		<div class="control-group">
			<div class="controls">
				<div class="label label-info" style="display: none;" id="info"></div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputAuthor">作者</label>
			<div class="controls" id="inputAuthor">
				<input type="text" placeholder="本书作者" name="author" >
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPriv">权限</label>
			<div class="controls" id="inputPriv">
				<input type="number" placeholder="0" name="priv" >
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputDesc">描述</label>
			<div class="controls" id="inputDesc">
				<textarea placeholder="本书描述" name="desc" ></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="file" id="inputFile" placeholder="上传书籍" name="file" required>
			</div>
		</div>
		<div class="control-group">
			<div class="controls controls-row">
				<button type="submit" class="btn btn-primary">确定</button>
				<a type="button" class="btn" href="{{ nxt }}">返回</a>
			</div>
		</div>		
	</form>
</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'books/js/jquery.form.js' %}"></script>
<script>
$(function () {
	var options = {
		dataType: 'json',
		success: function(data, status) {
			if (data.status) {
				$('#info').text('上传成功').show();
			} else {
				$('#info').text('对不起，上传失败').show();
			}
		}
	};
	$('#uploadBook').ajaxForm(options);
});
</script>
{% endblock %}