<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<link rel="shortcut icon" href="/static/img/favicon.ico">
		<link rel="stylesheet" href="/static/css/about.css"/>
	</head>
	<body>
		<div class="about-container">
			<img src="/static/img/about.jpg"/>
			<div id="about-info">
				<a id="icon-right" class="about-trigger"></a>
				<a id="icon-left" class="about-trigger" ></a>
				<div class="logo">
					<a href="/"><img src="/static/img/logo3.png"/></a>
				</div>
				<div class="self-info">
					<ul>
						<li>{{ me.last_name }}</li>
						<li>{{ age }}</li>
						<li>{{ profile.major }}</li>
					</ul>
				</div>
				<div class="self-contact">
					<ul>
						<li><a href="mailto:{{ me.email }}">E-mail</a></li>
						<li>450589847</li>
					</ul>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/about.js"></script>
	</body>
</html>
