{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/welcome.css" />
{% endblock %}

{% block body %}
<div class="small-offset-2">
	<div class="row">
		<ul class="breadcrumbs small-10">
			<li class="current"><a href="#">Home</a></li>
			<li><a href="#">Article</a></li>
			<li class="unavailable"><a href="#">Poem</a></li>
			<li><a href="#">Calligraphy</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</div>
	<div class="row">
		<div class="small-10 columns" style="background: red;">small-10
			
		</div>
	</div>
</div>
{% endblock %}

{% block script %}{% endblock %}