<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta content="text/html" http-equiv="content-type" charset="utf-8" />
		
		<!-- CSS -->
		<link rel="stylesheet" href="/static/foundation/css/foundation.min.css" />
		<link rel="stylesheet" href="/static/foundation/css/normalize.css" />
		{% block css %}{% endblock %}
	</head>
	<body>
	{% block body %}{% endblock %}
	
	<!-- Script -->
	<script src="/static/js/jquery-1.9.1.js"></script>
	<script src="/static/foundataion/js/foundation.min.js"></script>
	{% block script %}{% endblock %}
	</body>
</html>