{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/css/calligraphy.css"/>
{% endblock %}

{% block content %}
<div class="content">
	<ul class="grid-row">
		<li>
			<img src="/static/img/ym.png"/>
		</li>
		<li>
			<img src="/static/img/ym.png"/>
		</li>
		<li>
			<img src="/static/img/ym.png"/>
		</li>
		<li>
			<img src="/static/img/ym.png"/>
		</li>
	</ul>
	<ul class="grid-row">
		<li>
			<img src="/static/img/ym.png"/>
		</li>
		<li>
			<img src="/static/img/ym.png"/>
		</li>
		<li>
			<img src="/static/img/ym.png"/>
		</li>
		<li>
			<img src="/static/img/ym.png"/>
		</li>
	</ul>
	<ul class="grid-row">
		<li>
			<img src="/static/img/ym.png"/>
		</li>
		<li>
			<img src="/static/img/ym.png"/>
		</li>
		<li>
			<img src="/static/img/ym.png"/>
		</li>
		<li>
			<img src="/static/img/ym.png"/>
		</li>
	</ul>
	<a href="javascript: alert('d')" class="btn">Load more</a>
</div>
{% endblock %}
