{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/css/calligraphy.css"/>
{% endblock %}

{% block content %}
<div class="content">
	<div id="calligraphy-grids">
		<ul class="grid-row">
			<li>
				<img src="/static/img/ym.png"/>
			</li>
			<li>
				<img src="/static/img/ym.png"/>
			</li>
			<li>
				<img src="/static/img/ym.png"/>
			</li>
			<li>
				<img src="/static/img/ym.png"/>
			</li>
		</ul>
		<ul class="grid-row">
			<li>
				<img src="/static/img/ym.png"/>
			</li>
			<li>
				<img src="/static/img/ym.png"/>
			</li>
			<li>
				<img src="/static/img/ym.png"/>
			</li>
			<li>
				<img src="/static/img/ym.png"/>
			</li>
		</ul>
	</div>
	<a href="javascript: loadMore()" class="btn">Load more</a>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/loadmore.js"></script>
{% endblock %}
