{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="/static/css/calligraphy.css"/>
{% endblock %}

{% block content %}
<div class="content">
	<div id="calligraphy-grids">
		<ul class="grid-row">
			{% for pic in pictures %}
				<li>
					<a href="show?pic={{ pic.name }}">
						<img src="/static/calligraphys/{{ pic.name }}" style="{{ pic.style }}"/>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<a href="javascript: loadMore()" class="btn">Load more</a>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/verticalmiddle.js"></script>
<script src="/static/js/loadmore.js"></script>
{% endblock %}
