{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="/static/css/article.css" />
{% endblock %}

{% block body %}
<div class="row">
	<div class="panel article">
		{% if all %}
			<a class="icon-comments push-11" href="javascript:;"></a>
		{% endif %}
		{% for article in articles %}
		<div class="panel abstract">
			<h4>{{ article.title }}</h4>
			{% for content in article.contents %}
			<p>{{ content }}</p>
			{% endfor %}
			{% if not all %}
				……<a href="/article?title={{ article.title }}" class="push-11">more</a>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	<div class="panel small-5 hide">
		<div class="panel abstract">
			{% load duoshuo_tags %}
			{% duoshuo_comments %}
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/article.js"></script>
{% endblock %}