<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="shortcut icon" href="/static/img/favicon.ico">
		<link rel="stylesheet" href="/static/css/base.css">
		<link rel="stylesheet" href="/static/css/login.css">
	</head>
	<body>
		<form class="login-container" action="/login/" method="POST">
			<div class="login-head">
				<div class="login-head-title">
					xinting
					<img src="/static/img/favicon2.png"/>
				</div>
				<div id="icon-close"></div>
			</div>
			<div class="login-content">
				<p> 
					<div class="login-label">
						name:
					</div>
					<input type="text" name="username" onblur="check()"/>
				</p>
				<p>
					<div class="login-label">
						password:
					</div>
					<input type="password" name="password" onblur="check()"/>
				</p>
				<input type="checkbox" name="remeber-me">remeber me</input>
			</div>
			<div class="login-footer">
				<input type="submit" id="btnsubmit" value="Go"></input>
				<a href="/register">apply</a>
			</div>
		</form>
		
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/login.js"></script>
	</body>
</html>
