<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/css/base.css">
		<link rel="stylesheet" href="/static/css/login.css">
	</head>
	<body>
		<form class="login-container" action="/register/" method="POST">
			<div class="login-head">
				<div class="login-head-title">
					xinting
					<img src="/static/img/favicon2.png"/>
				</div>
				<a href="/" id="icon-close"></a>
			</div>
			<div class="login-content">
				
					<div class="login-label">username
						<div class="error-info">*</div>
					</div>
					<input type="text" name="username">
				
					<div class="login-label">password
						<div class="error-info">*</div>
					</div>
					<input type="password" name="password">
				
					<div class="login-label">nick name
						<div class="error-info">*</div>
					</div>
					<input type="text" name="nickname">
				
					<div class="login-label">e-mail
						<div class="error-info">*</div>
					</div>
					<input type="text" name="e-mail">
					
					<div id="separator"></div>
					<div id="user-profile">
						<div class="login-label">major</div>
						<input type="text" name="major">
					
						<div class="login-label">favor</div>
						<input type="text" name="favor">
					
						<div class="login-label">maxim</div>
						<input type="text" name="maxim">
					</div>
			</div>
			<div class="login-footer">
				<input type="submit" id="btnsubmit" value="Go">
			</div>
		</form>
		
		<script src="/static/js/jquery.js"></script>
		<script>
			$('#separator').click(function() {
				$('#user-profile').slideToggle('slow');
			});
		</script>
	</body>
</html>
