<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/static/css/base.css">
		<link rel="stylesheet" href="/static/css/login.css">
	</head>
	<body>
		<form class="login-container" action="/register/" method="POST">
			<div class="login-head">
				<div class="login-head-title">
					xinting
					<img src="/static/img/favicon2.png"/>
				</div>
				<a href="/" id="icon-close"></a>
			</div>
			<div class="login-content">
				<p>
					<div class="login-label">username</div>
					<input type="text" name="username">
				</p>
		
				<p>
					<div class="login-label">password</div>
					<input type="password" name="password">
				</p>
		
				<p>
					<div class="login-label">nick name</div>
					<input type="text" name="nickname">
				</p>
		
				<p>
					<div class="login-label">e-mail</div>
					<input type="text" name="e-mail">
				</p>
		
				<p>
					<div class="login-label">major</div>
					<input type="text" name="major">
				</p>
		
				<p>
					<div class="login-label">favor</div>
					<input type="text" name="favor">
				</p>
		
				<p>
					<div class="login-label">maxim</div>
					<input type="text" name="maxim">
				</p>
			</div>
			<div class="login-footer">
				<input type="submit" id="btnsubmit" value="Go">
			</div>
		</form>
	</body>
</html>
