<!DOCTYPE html>
{% load staticfiles %}
<html lagn="cn">
	<head>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="content-type" content="text/html" />
		<meta http-equiv="charset" content="utf-8" />
		<title>{{ title }}</title>
		
		<!-- CSS -->
		<link rel="stylesheet" href="{% static '/static/edu/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'edu/css/xinting.css' %}" />
		{% block css %}{% endblock %}
		<style>
		body { font-size: 14px; }
		</style>
	</head>
	<body>
		{% block body %}{% endblock %}
				
		<!-- Scripts -->
		<script src="{% static 'edu/js/jquery-1.9.1.js' %}"></script>
		<script src="{% static 'edu/js/jquery.cookie.js' %}"></script>
		<script src="{% static 'edu/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'edu/js/xinting.js' %}"></script>
		{% block js %}{% endblock %}
	</body>
</html>